* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 30px;
  text-align: center;
  background-color: burlywood;
}
main {
  padding: 30px;
}
li {
  list-style-type: disc;
}
.delete-btn img {
  max-width: 15px;
  max-height: 15px;
}
.delete-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
